include LICENSE
include README.rst
global-exclude *.orig *.pyc *.log *.swp

recursive-include djangocms_misc/basic *
recursive-include djangocms_misc/admin_style *
recursive-include djangocms_misc/apphook_templates *
