tox
coverage
# django-coverage
flake8
# factory_boy
# mock
selenium

django<2
django-appconf
django-cms==3.4.5
djangocms-admin-style==1.3.0
django-filer==1.3
django-modeltranslation==0.12

# for running cms tests
iptools
djangocms-link<2.5
djangocms-text-ckeditor<3.6
django-hvad
