name: CI

on: [push, pull_request, ]

jobs:
  test:
    runs-on: ubuntu-latest
    if: github.repository == 'bnzk/djangocms-misc'
    strategy:
      matrix:
        python: [3.6, 3.7, 3.8]
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python ${{ matrix.python }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Install Tox and any other packages
        run: pip install tox tox-gh-actions
      - name: Run Tox
        # Run tox using the version of Python in `PATH`
        # run: tox -e py${{ matrix.python }}-${{ matrix.django }}
        run: tox

  coverage:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [3.7]
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python ${{ matrix.python }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Install tox
        run: pip install tox
      - name: Run tox with coverage
        # Run tox using the version of Python in `PATH`
        # run: tox -e py${{ matrix.python }}-${{ matrix.django }}
        run: tox -e py37-django22-cms37-treebeard43-coverage

  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [3.7]
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python ${{ matrix.python }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Install flake8
        run: pip install flake8
      - name: Run flake8
        run: flake8
